* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(135deg, #e8f2fc 0%, #b6cdf6 100%);
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px 4px gray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.hidden {
  display: none;
}

#contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
  height: 100%;
}

#titulo-categoria {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #444;
}

#teclado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fila-teclado {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Botones con estilos */
.tecla {
  padding: 5px 10px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  color: white;
  border: 2px solid #322891;
  border-radius: 5px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 2px 2px #6a11cb;
  cursor: pointer;
  margin: 4px 2px;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Hover Effect para botones */
.tecla:hover {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  color: black;
}

/* Hacer los bordes visibles */
.tecla:active {
  background-color: #322891;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#ahorcado {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 40%;
  width: 100px;
  height: 200px;
  margin: 40px auto;
}

#ahorcado .parte {
  display: none;
  width: 180px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}
.palabra-oculta {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
  max-height: 10%;
}
.palabra-oculta div {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.correcta {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
}

.incorrecta {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: 2px solid red;
  border-radius: 5px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Contenedores individuales de las letras */
.letra {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background-color: #f1f1f1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  position: relative;
}

/* Línea baja para letras no adivinadas */
.letra:empty::after {
  content: "";
  display: block;
  width: 50%;
  height: 1.5px;
  background-color: #333;
  position: absolute;
  bottom: 5px; /* Separación desde la parte inferior */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e8f2fc 0%, #b6cdf6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none; /* Oculto por defecto */
}

.modal-content {
  background: #e6eeff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px #1d2fffcc;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin-bottom: 5px;
  color: #333;
}

.modal-content select {
  width: 70%;
  padding: 8px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 1px solid #6a11cb;
}

.modal-content button {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background: linear-gradient(135deg, #59a9ff 0%, #b279ef 100%);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#cerrar-popup {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cerrar-popup:hover {
  background-color: #6a11cb;
}

#teclado {
  grid-template-columns: repeat(5, 1fr);
  max-width: 90%;
}

.palabra-oculta div {
  font-size: 35px;
  width: 50px;
  height: 50px;
}

#ahorcado {
  width: 70px;
  height: 140px;
}

.modal-content {
  width: 90%;
}

#boton-silenciar {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #2575fc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  display: flex; /* Oculto al principio */
}

#boton-silenciar:hover {
  background-color: #6a11cb;
}
